.container {
    background: white;
    position: fixed;
    bottom: 0;
    border-radius: 0.5em 1em 0em 0em;
    z-index: 2;
    width: 100%;
}

.scrollbar {
    position: fixed;
    left:0%;
    top:0%;
    width:100vw;
    background-color:rgba(0,0,0,0);
    overflow-x:scroll;
    z-index: 1;
}

.timer {
    background: rgb(245, 55, 55);
    position: fixed;
    z-index: 3;
    top: 20%;
    left: calc(50% - 2.5em);
    color: white;
    width: 5em;
    height: 5em;
    border-radius: 5em;
    border: solid 5px white;
  }

  .timer h1 {
      position: relative;
      top: 20%;
  }

.title {
    margin: 0.5em;
}

label {
    display: flex;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.quantity {
    margin-right: 1em;
    font-weight: bold;
}

.itemInner {
display: flex;
}

.radioButton {
    padding: 0 0.5em 0 0.5em;
    margin-left: 0.5em;
}

.submit {
    padding: 1em;
    margin: 2em;
}

.scrollDown {
    margin: 3.5em 1em 1em 1em;
    padding: 1em;
    background-color: #d7dde2;
    border-radius: 1em;
    border: 5px solid #272749;
    display: inline-block;
    font-weight: bold;
    color:grey;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.StartMenu {
    position: absolute;
    bottom: 150px;
    left: calc(50% - 3em);
}

/* Media Queries */

@media only screen and (min-width: 1200px) {

    .container {
        right: 60%;
        min-width: 350px;
        width: 30vw;
    }
    
  }


@media only screen and (max-width: 1199px) {
    .inner {
    overflow: scroll;
    height: 30vh;
    
    }

}

@media (pointer: coarse) { 
    .inner {
        box-shadow: -1px -10px 30px 0px rgba(0,0,0,0.2) inset;
        -webkit-box-shadow: -1px -10px 30px 0px rgba(0,0,0,0.2) inset;
        -moz-box-shadow: -1px -10px 30px 0px rgba(0,0,0,0.2) inset;
    }
}