.container {
    background: white;
    position: fixed;
    bottom: 0;
    border-radius: 0.5em 1em 0em 0em;
    z-index: 3;
    width: 100%;
}

.container header {
    
    background-color: rgb(207, 207, 207);
}

.scrollbar {
    position: fixed;
    left:0%;
    top:0%;
    width:100vw;
    background-color:rgba(0,0,0,0);
    overflow-x:scroll;
    z-index: 1;
}

.timer {
    z-index: 3;
    
    position: fixed;
    
    top: 10%;
    left: calc(50% - 2.5em);
    width: 8em;
    height: 8em;

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(245, 55, 55);
    color: white;
    border-radius: 5em;
    border: solid 1px white;
  }

  .timer h1 {
      position: relative;
      filter: drop-shadow();
  }

.title {
    margin: 0.5em;
}

label {
    display: flex;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.quantity {
    margin-right: 1em;
    font-weight: bold;
}

.itemInner {
display: flex;
}

.radioButton {
    padding: 0 0.5em 0 0.5em;
    margin-left: 0.5em;
}

.submit {
    padding: 1em;
    margin: 2em;
}

.scrollDown {
    margin: 20em 1em 1em 1em;
    padding: 1em;
    background-color: #d7dde2;
    border-radius: 1em;
    border: 5px solid #272749;
    display: inline-block;
    font-weight: bold;
    color:grey;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.chart {
    position: absolute;
    right: 6em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background:whitesmoke;
    
}

    .chart header {
        
        background-color: rgb(207, 207, 207);
        color: black;
    }

    .chart section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 90vw;
        overflow-y: auto;
        grid-gap: 1em;
    }

    .chart figure {
        padding: 0.5em;
        border-radius: 2em;
        background-color: rgb(0, 99, 2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .chart p {
        background: white;
        border-radius: 0.5em
    }

    .chart img {
        padding: 0.5em;
        height: 4em;
    }

/* Media Queries */

@media only screen and (min-width: 1200px) {

    .container {
        right: 60%;
        min-width: 350px;
        width: 30vw;
    }

    .chart {
        flex-direction: column-reverse;
        bottom: 0em;
    }

    
    /* Works on Firefox */
    .container {
        scrollbar-width: thin;
        scrollbar-color: white white;
    }
    
    /* Works on Chrome, Edge, and Safari */
    .scrollbar::-webkit-scrollbar {
        width: 15px;
        height: 15px;
    }
    
    .scrollbar::-webkit-scrollbar-track {
        background: none;
    }
    
    .scrollbar::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 20px;
        border: 1px solid black;
    }
    
  }


@media only screen and (max-width: 1199px) {
    .inner {
    overflow: scroll;
    height: 30vh;
    
    }

    .chart {
        right: 1em;
        top: 3.5em;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
    }

        .chart p {
            font-size: 0.8em;
        }

        .chart section {
            grid-gap: 0.4em;
            padding: 1em;
            box-sizing: content-box;
        }

        .chart img {
            height: 2em;
            padding: 0.2em;
        }

}

@media (pointer: coarse) { 
    .inner {
        box-shadow: -1px -10px 10px 0px rgba(0,0,0,0.2) inset;
        -webkit-box-shadow: -1px -10px 10px 0px rgba(0,0,0,0.2) inset;
        -moz-box-shadow: -1px -10px 10px 0px rgba(0,0,0,0.2) inset;
    }
}