.exit button {
    border-radius: 50%;
    background: #ff0000;
    
}

.title {
    position: relative;
    margin: 2rem;
}

.menu {
    position: relative;
    display: flex;
    margin: 2rem;
    max-height: 65vh;
    overflow: auto;
}

.menushadow {
    position: fixed;
    border-radius: 1rem;
    width: calc(100vw - 2rem);
    height: 23em;
    top: 14rem;
    left: 0;
    align-items: center;
    justify-content: center;
    
    
    -webkit-box-shadow: inset 0px 0px 42px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 42px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.1);
    z-index: 5;
    pointer-events: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.item {
    border-radius: 0.6rem;
    background: #ffae00;
    margin-bottom: 1.5rem;
    padding: 1rem;
    margin: 0.5em;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.item h3 {
    color: black;
}

.item:active img {
    height: 10em;
}

/*Media Queries*/

@media only screen and (min-width: 768px) {
    .menushadow {
        display: none;
    }
}