.leaderboard {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: black;
    border: 1px solid white;
    margin: 1em 2em 0em 2em;
    color: white;
}

.row {
    border: 1px solid white;
}

.column {
    border: 1px solid white;
}