
/*Header*/

.headerContainer {
    pointer-events: none;
    width: 100vw;
    position: fixed;
    z-index: 5;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 70%);
}

.experienceContainer {
    color: white;
    font-weight: bold;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    padding: 1rem;
}

.header h3 {
    color: #f7f2f0;
    filter: drop-shadow(0px 4px 0px #77779eb6);
}

.experience {
    display: flex;
    flex-direction: column;

}

.exit {
    pointer-events: all;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

    width: 1.5em;
    height: 1.5em;
    padding: 0em;
    border-radius: 1em;
    
    font-weight: bold;
    font-size: 1.5em;
    color: var(--secondary);
    
    transform: rotate(45deg);
    
}

.home {
    pointer-events: all;
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    border-radius: 2em;
    background: rgb(255,220,255,0.2);
    border: 1px solid white;
    box-sizing: content-box;
}

.notifications {
    pointer-events: all;
    position: relative;
    left: 100%;
    top: -20%;
    border-radius: 50%;
    background-color: tomato;
    color: black;
    width: 1.3em;
    text-align: start;
    height: 1.3em;
    z-index: 6;
}

/*Main UI*/
.container section {
    border-bottom: 5px rgb(70, 70, 70) dotted;
    padding: 2em 0em;
    min-height: 10em;
}

    .container > :last-child {
        border-bottom: none;
        margin-bottom: 5em;
    }
.container {
    background: rgb(34, 34, 34, 0.2);
    padding: 1em 1em 3em 1em;
    min-height: 80vh;
}

.container button {
    display:inline-block;
    width: 100%;
    background-color: #ebe9e4;
    border: 5px solid white;
    border-radius: 1em;
    padding: 1em;
}

.exit button {
    border-radius: 50%;
    background: #ff0000;
    
}

.title {
    position: relative;
    margin: 2rem;
}

.subtitle {
    color: white;
    padding: 0.5em;
}



.menu {
    position: relative;
    display: flex;
    max-height: 65vh;
    overflow: auto;
    border-radius: 2rem;
    scroll-snap-type: x mandatory;
}

.stageSelect {
    position: relative;
}

.menushadow {
    position: absolute;
    border-radius: 1rem;
    width: calc(100vw - 2rem);
    height: 20em;
    top: 4.5em;
    left: -1em;
    align-items: center;
    justify-content: center;
    
    
    -webkit-box-shadow: inset 0px 0px 42px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 42px 0px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.4);
    z-index: 8;
    pointer-events: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.item {
    scroll-snap-align: center;
    border-radius: 0.6rem;
    background:  #ebe9e4;
    margin-bottom: 1.5rem;
    padding: 1rem;
    margin: 0.5em;
    color: black;
    height: 100%;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.item h3 {
    color: black;
}

.item:active img {
    height: 10em;
}

.itemLocked {
    border-radius: 0.6rem;
    background: #4b4b4b;
    margin-bottom: 1.5rem;
    padding: 1rem;
    margin: 0.5em;
    height: 100%;
}

    .itemLocked img {
        filter: brightness(50%);
    }

    .itemLocked h4 {
        color: white;
    }

    .itemLocked p {
        color: white;
        font-weight: bold;
    }

.badgesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr) );
    margin-bottom: 5em;
}

    .badge {
        padding: .5em;
    }

    .badge img {
        width: 3em;
    }

    .badge p {
        font-weight: bold;
        color: white;
    }

/*Archive Page*/

.ArchiveBadgesContainer {
    display: grid;
    grid-gap: 0.2em;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr) )
}

    .archiveBadge {
        padding: 0.4em;
        background: rgb(59, 59, 59);
        
    }
    .archiveBadge img {
        width: 3em;
        
    }

    .archiveBadge h4 {
        color: rgb(161, 161, 161);
        font-weight: 400;
        padding-bottom: 0.25em;
    }

    .archiveBadge p {
        color: white;
        font-size: 0.8em;
    }

.description {
    position: fixed;
    font-weight: bold;
    z-index: 8;
    color: whitesmoke;
    background-color: rgb(63, 63, 63);
    border-radius: 1em;
    pointer-events: none;
}

.levelInfo {
    background: var(--secondary);
    color: white;
    padding: 1em;
}

.levelInfo p {
    padding: 1em;
}

.infoContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 0.5em;
}

    .info {
        display: flex;
        flex-direction: row;
        background: rgb(59, 59, 59);
        border: solid 2px white;
        color: white;
    }

    .info article {
        margin: 0.5em;
    }

    .info figure {
        display: flex;
        flex-direction: column;
    }

    .info h3 {
            color: rgb(114, 114, 114);
            text-align: start;
    }

    .info p {
        font-size: 1em;
        padding: 0.2em;
    }

    .info img {
        height: 8em;
    }

/*Leaderboard Page*/

.leaderboard, th, td {
    width: 100%;
    background: rgb(255, 254, 254);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

    .leaderboard th, td {
        padding: 1em;
    }


/*Quiz Page*/

.quiz {
    background-color: rgb(243, 237, 237);
    color: black;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em 0em;
    border-radius: 0.5em;
}

    .quiz figure img {
        width: 100%;
    }

    .quiz aside {
        text-align: center;
        color: rgb(39, 39, 39);
        font-size: 0.8em;
        width: 100%;
        margin: 1em;
    }

    .quiz aside > header {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        margin-bottom: 1em;
    }


/*Media Queries*/


@media only screen and (min-width: 1200px) {
    .menushadow {
        display: none;
    }

    .menu {
        width: 45vw;
        
    }

    .container {
        flex-direction: row;
    }

    .badgesContainer {
        margin-bottom: none;
    }
}

@media only screen and (min-width: 400px) {

    .quiz {
        flex-direction: row;
    }

        .quiz figure {
            max-width: 30%;
        }
}
