.container {
    width: 100vw;
    position: fixed;
    z-index: 3;
}


.header {
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding: 1rem;
}

.experience {
    display: flex;
    flex-direction: column;

}

.exit {
    background: #ff0000;
    width: 2em;
}