.container {
    width: 80%;
    max-width: 30em;
    top:15%;
    height: 80%;
    max-height: 30em;
    left:calc(10% + 0.5em);
    position:fixed;
    background-color:white;
    z-index:6;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container h1 {
    margin-bottom: 2em;
  }
  
  .container p {
    font-size: 0.9em;
    padding: 1em;
    color: #696969;
  }

  .container .buttonContainer {
    display: flex;
    padding: 1em;
    justify-content: space-evenly;
  }

  .buttonContainer button {
    padding: 1em;
    margin: 1em;
  }
  
  .container .inner {
    overflow-y: scroll;
  }

.background {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.20);
    z-index: 2;
}
  