/*Defaults*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border-style: none
}

a {
  text-decoration: none;
}

.progress {
  /* Positioning */
  /* position: absolute; */
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: 5px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 0.5em;

  /* Progress bar value for IE10+ */
  color: var(--secondary);
}

progress[value]::-webkit-progress-value {
  position: relative;
  background: var(--secondary);  
}

progress[value]::-webkit-progress-value::after {
  content: '';
  width: 20px;
  height: 5px;
  border-radius: 50px;
  background: rgb(255, 255, 255, 0.5);
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #00D38D;
}

progress::-moz-progress-bar {
  background-color: #00D38D;
}

/* Variables */
:root {
  --primary: rgba(158, 113, 158, 0.4);
  --secondary: #77779e;
  --scrollbar: rgb(230, 230, 230);
}

@font-face { 
  font-family: "LibreFranklin";
  src: local("LibreFranklin"),
    url("./fonts/LibreFranklin-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "LibreFranklin";
  overscroll-behavior: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

p {
  line-height: 1.5;
}

h3 {
  padding: 0.4em;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) var(--scrollbar);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 20px;
  
}

.loader:empty {
  background: black;

}

/*Landing Page*/

.landing-page {
  text-align: center;
  background: rgb(243, 241, 240);
}

.landing-page h1 {
  font-weight: bold;
  padding: 1em;
  font-size: 2.5em;
}

.landing-page h2 {
  font-weight: bold;
  font-size: 2em;
  line-height: 150%;
  padding: 2em 2em;
}

.landing-page h3 {
    padding: 1em;
    color: rgb(107, 107, 107);
    font-size: 1em;
    line-height: 150%;
    letter-spacing: 0.1em;
}

.landing-page button {
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 1em;
  border: 1px solid black;

  box-shadow: 0px 13px 16px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 13px 16px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 13px 16px 0px rgba(0,0,0,0.5);
  

}

.landing-page section {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  margin:auto;
  min-height: 80vh;
}

.landing-page section ul {
  padding: 2em;
  line-height: 350%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.landing-page footer {
  display: flex;
  justify-content: center;
  background: rgb(136, 136, 136);
  padding: 2em 2em 5em 2em;
  color: white;
  flex-direction: column;
}

.landing-page footer p {
  align-items: center;
  padding-bottom: 1em;
  
}

.landing-page footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.explanation {
  flex-direction: row-reverse;
}

/* Video */

.video {
  flex-grow: 1;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


  .intro img {
    width: 100%;
  }

  .intro button {
    padding: 1em;
    margin: 2em;
  }

.explanation {
  background: #fdf3f3;
}


/*Main Section*/

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.badge-container {
  position: fixed;
  z-index: 6;
  top: 20%;
  left: calc(50% - 2.5em);
}

  .badge-container h1 {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }

  .badge-container img {
    height: 5em;
  }

  .badge-container h3 {
    color: white;
  }

  .badge-container p {
    font-weight: bold;
    color: white;
    background: #383838;
    padding: 0.2em 0.5em;
    border-radius: 2em;
  }


.ui-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 4.5rem;
  align-items: center;
  justify-content: center;
  background: rgb(158 113 158 / 40%);
  color: rgb(255, 255, 255);
  z-index: 6;
  overflow-y: scroll;
}

.pages {
  display: flex;
  list-style-type: none;
  width: 100%;
  overflow: auto;
  justify-content: center;
}

.page-item {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem 0.2rem 0rem 0rem;
  font-weight: bold;
  color: white;
}

.background {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.65);
  z-index: 4;
}

.infobox {
  width: 650px;
  max-width: 90vw;
  max-height: 90vh;
  top:10%;
  left:50%;
  transform: translate(-50%, 0);
  
  position:absolute;
  background-color:white;
  z-index:5;
  border-radius:1em;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
}

.infobox .inner {
  overflow-y: auto;
  border: 1px solid #d0d0d0;
  margin: 1em 0em;
  padding: 0.3em;
  max-height: 30vh;
}
  
  .infobox h2 {
    margin: 0.5em;
    padding: 0.5em;
  }

  .infobox p {
    margin: 0.5em;
  }

  .infobox button {
    border-radius: 2em;
    background-color: black;
    color: white;
    margin: 1em;
    padding: 1em;
  }

  .infobox img {
    max-width: 30vh;
  }

.quiz-container {
  position: fixed;
  background-color: whitesmoke;
  top: 50%;
  left: 400px;
  margin-top: -250px;
  margin-left: -250px;
  width: 500px;
  height: 500px;
  border-radius: 2em;
  z-index: 4;
}


.quiz-container section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  width: 90%;
  height: 80%;
  margin: 2em;
}

/*Media Queries*/

@media only screen and (min-width: 1200px) {

  .landing-page h1 {
    font-weight: bold;
    font-size: 5em;
    padding: 1em;
  }

  .infobox {
    width: 650px;
    transform: none;
    top:30%;
    left:2em;
    margin-left: 2em;
  }
  .ui-container {
    width: 50vw;
    max-height: 80vh;
    height: unset;
    top: 13vh;
    right: 5vw;
    border: 1px solid white;
    border-radius: 0.8em;

    box-shadow: 0px 30px 40px 0px rgb(0 0 0 / 55%);
    -webkit-box-shadow: 0px 30px 40px 0px rgb(0 0 0 / 55%);
    -moz-box-shadow: 0px 30px 40px 0px rgb(0 0 0 / 55%);
  }

  .landing-page h2 {
    padding: 0;
  }

  .landing-page section {
    flex-direction: row;
  }

  .landing-page footer {
    flex-direction: row;
    
  }

  .landing-page footer p {
    margin-right: 2em;
    padding: 0;
  }

  .video {
    padding: 2em;
  }


}

/*Transitions*/

.infobox:active {
  transition: width 2s, height 2s, transform 2s;
}