/*Defaults*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;

}

/*Main Section*/

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}



.ui-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 5rem;
  align-items: center;
  justify-content: center;
  
  
  z-index: 1;
}

.pages {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.page-item {
  background: #ffa600;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

/*Media Queries*/